{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block content %} 
<a class="btn btn-secondary" href="{{ url_for('home') }}">Back</a>

<form action="{{ url_for('create_post', id=profile.id, ) }}" method="POST">
    <h1>Create Post for {{ profile.lastname }}, {{ profile.firstname }}</h1>
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input class="form-control" type="text" name="content" id="content">
    </div>
    <div class="form-group">
        <label for="profile_id">Posted By:</label>
        <input class="form-control" type="text" name="profile_id" id="profie_id" hidden value="{{ profile.id }}">
        <input class="form-control" type="text" name="profie_id" id="profie_id" disabled value="{{ profile.firstname }} {{ profile.lastname }}">
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Save">
    </div>
</form>
{% endblock %}