{% extends "base/layout.html" %}
{% block title %} Home {% endblock %}


{% block content %}
    <nav class="navbar bg-body-black">
        <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/jblog-logo-dark.png')}}" alt="logo" height="50">
        </a>
        {% for Post in Posts %}
        <div class="Post">
            <p><b>#{{ Post.id }}</b></p>
            <b>
                <p class="title">
                    <a href="{{ url_for('Post', Post_id=Post.id)}}">
                    {{ Post.title }}
                    </a>
                </p>
            </b>
            <div class="content">
                <p>{{ Post.content }}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
        </div>
</nav>
{% endblock %}