{% block title %} Register {% endblock title %}
{% block stylesheet %} 
<link rel="stylesheet" href="{{ url_for('static',filename='loginStyle.css') }}">
{% endblock stylesheet %}

{% block content %}
<div class="login text-center">
    <h1>Register</h1>
    <form method="post">
    	<input type="text" name="username" placeholder="Username" required="required" />
    	<input type="email" name="email" placeholder="Email" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Create</button>
        <br>
        <br>
        <button class="primary ghost btn-block">
            <a href="{{ url_for('login') }}">Go back to Login</a>
        </button>
</div>
{% endblock %}