{% extends "base/layout.html" %}
{% block title %} View Post {% endblock %}

{% block content %} 
    <span class="title"><h1>{% block title %} {{ Post.title }}  {% endblock %}</h1></span>
    <div class="content">
            <div class="Post">
                <p><b>#{{ Post.id }}</b></p>
                <b>
                    <p class="title">{{ Post.title }}</p>
                </b>
                <div class="content">
                    <p>{{ Post.content }}</p>
                </div>
                <hr>
                <h3>Comments</h3>
                {% for comment in Post.comments %}
                    <div class="comment">
                        <p>#{{ comment.id }}</p>
                        <p>{{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>
    <hr>
    <h3>Comments</h3>
    <form method="Post">
        <p>
            <textarea name="content"
                        placeholder="Comment"
                        cols="60"
                        rows="5"></textarea>
        </p>
        <p>
            <button type="submit">Add comment</button>
        </p>
    </form>
    {% for comment in Post.comments %}
{% endblock %}