{% extends "base/layout.html" %}
{% include "base/navbar-header.html" %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %} 
    <div class="container">
        <div class="card mt-10">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <p>Poster by: <b>{{ post.user.email }}</b></p>
                    {% if post.user_id == session['user_id'] %}
                        <form method="POST" action="{{ url_for('edit_post', Post_id=post.id) }}" class="d-inline">
                            <button type="submit" class="btn btn-info btn-sm">Edit</button>
                        </form>
                    {% endif %}
                </div>

                <div class="card container">
                    <b class="title" style="margin-top: 5px;">
                        <p class="title">{{ post.title }}</p>
                    </b>
                    <hr>
                    <div class="content">
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                <hr>
                <h5>Comments:</h5>
                {% for comment in post.comments %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-1">
                        {{ comment.content }}
                        {% if comment.user_id == session['user_id'] %}
                        <div class="btn-group">
                            <form method="post" action="{{ url_for('edit_comment', comment_id=comment.id) }}" class="d-inline">
                                <button type="submit" class="btn btn-info btn-sm">Edit</button>
                            </form>
                            <form method="post" action="{{ url_for('delete_comment', comment_id=comment.id) }}" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </div>
        </div>
        <form method="post" action="{{ url_for('viewpost', Post_id=post.id) }}" class="mt-3">
            <div class="input-group">
                <input type="text" name="comment" class="form-control" placeholder="Add a comment" required>
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
        </form>
        
    </div>
{% endblock %}